<div>
  <h2>Hi {{name}},</h2>
  <p>You requested a password reset for your Conformity account.</p>
  <p>Click the link below to reset your password (valid for {{expirationHours}} hour):</p>
  <a href="{{resetUrl}}">{{resetUrl}}</a>
  <p>If you didn't request this, please ignore this email.</p>
</div> 